<div class="container">
<div class="row">
<table class="table table-inverse" >
    <% articles.each do |article| %>
      <tr>
        <td rowspan="2" width="20%"><%= link_to(article.user) do %>
          <%= image_tag article.user.get_profile_image, class:"rounded-circle", size:"50x50" %>
          <% end %>
        </td>
        <td><%= article.user.name %></td>
      </tr>
      <tr>
        <td style="border:none"><%= article.created_at.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
      <tr>
        <td colspan="2"><%= link_to article.title,article, class: "article_#{article.id}" %></td>
      </tr>
      <tr>
        <td colspan="2"><%= article.body %></td>
      </tr>
      <tr>
        <td>
          <% if article.favorited_by?(current_user) %>
            <%= link_to article_favorites_path(article), method: :delete, class:"text-danger" do %>
              <i  class="fas fa-heart"></i><%= article.favorites.count %>
            <% end %>
          <% else %>
            <%= link_to article_favorites_path(article), method: :post do %>
              <i class="fas fa-heart"></i><%= article.favorites.count %>
            <% end %>
          <% end %>
        </td>
        <td>コメント<%= article.article_comments.count %>件</td>
      </tr>
    <% end %>
</table><br>

</div>
</div>