<div class="container">
  <div class="row">

    <div class="col-md-8 offset-md-1">
  		<h4>公開された記事</h4>
  		<table class="table">
  		  <tr>
  		    <th style="border:none"><%= link_to @article.title, @article %></th>
  		  </tr>
  		  <tr>
  		    <th  style="border:none">
            <% if @article.favorited_by?(current_user) %>
              <%= link_to article_favorites_path(@article), method: :delete, class:"text-danger" do %>
                <i class="fas fa-heart"></i><%= @article.favorites.count %>
              <% end %>
            <% else %>
              <%= link_to article_favorites_path(@article), method: :post do %>
                <i class="fas fa-heart"></i><%= @article.favorites.count %>
              <% end %>
            <% end %>
          </th>
  		  </tr>
  		  <tr>
          <th rowspan="2"><%= link_to (@article.user) do %>
            <%= image_tag @article.user.get_profile_image, class:"rounded-circle" , size:"50x50" %><br>
            <% end %>
          </th>
          <th>
            <%= @article.user.name %>
          </th>
        </tr>
        <tr>
          <th style="border:none">
            <%= @article.created_at.strftime("%Y-%m-%d %H:%M") %>
          </th>
        </tr>

          <th><%= @article.body %></th>

          <th>コメント数:<%= @article.article_comments.count %></th>
          <% if @article.user == current_user %>
            <th><%= link_to "Edit", edit_article_path(@article), class: "btn btn-sm btn-success edit_article_#{@article.id}" %></th>
            <th><%= link_to "Destroy", @article, method: :delete, data: { confirm: "本当に消しますか？" }, class: "btn btn-sm btn-danger destroy_article_#{@article.id}"%></th>
          <% end %>
        </tr>
      </table>

      <table>

        <% @article.article_comments.each do |article_comment| %>
          <tr>
            <td>
              <%= link_to(article_comment.user) do %>
                <%= image_tag article_comment.user.get_profile_image, size:"100x100" %><br>
                <%= article_comment.user.name %>
              <% end %>
            </td>
            <td><%= article_comment.comment %></td>
            <% if article_comment.user == current_user %>
              <td><%= link_to "Destroy", article_article_comment_path(article_comment.article, article_comment), method: :delete, class: "btn btn-sm btn-danger" %></td>
            <% end %>
          </tr>
        <% end %>
      </table>

      <div>
        <%= form_with model: [@article, @article_comment] do |f| %>
          <%= f.text_area :comment, rows:"5",cols:"50", placeholder: "" %></br>
          <%= f.submit "送信する" %>
          <% end %>
      </div>
    </div>

  </div>
</div>