<div class="container">
  <div class="row">

    <div class="col-md-3">
      <h2>User info</h2>
      <%= render "users/info", user: @article.user %>
      <h2 class="mt-3">New article</h2>
      <%= render "form", article: @newarticle %>
    </div>

    <div class="col-md-8 offset-md-1">
  		<h2>Article detail</h2>
  		<table class="table">
  		  <tr>
          <td><%= link_to (@article.user) do %>
            <%= image_tag @article.user.get_profile_image, class:"rounded-circle" , size:"100x100" %><br>
            <%= @article.user.name %>
            <% end %>
          </td>
          <td><%= link_to @article.title, @article %></td>
          <td><%= @article.body %></td>
          <td>
            <% if @article.favorited_by?(current_user) %>
              <%= link_to article_favorites_path(@article), method: :delete, class:"text-danger" do %>
                <i class="fas fa-heart"></i><%= @article.favorites.count %>
              <% end %>
            <% else %>
              <%= link_to article_favorites_path(@article), method: :post do %>
                <i class="fas fa-heart"></i><%= @article.favorites.count %>
              <% end %>
            <% end %>
          </td>
          <td>コメント数:<%= @article.article_comments.count %></td>
          <% if @article.user == current_user %>
            <td><%= link_to "Edit", edit_article_path(@article), class: "btn btn-sm btn-success edit_article_#{@article.id}" %></td>
            <td><%= link_to "Destroy", @article, method: :delete, data: { confirm: "本当に消しますか？" }, class: "btn btn-sm btn-danger destroy_article_#{@article.id}"%></td>
          <% end %>
        </tr>
      </table>

      <table>

        <% @article.article_comments.each do |article_comment| %>
          <tr>
            <td>
              <%= link_to(article_comment.user) do %>
                <%= image_tag article_comment.user.get_profile_image, size:"100x100" %><br>
                <%= article_comment.user.name %>
              <% end %>
            </td>
            <td><%= article_comment.comment %></td>
            <% if article_comment.user == current_user %>
              <td><%= link_to "Destroy", article_article_comment_path(article_comment.article, article_comment), method: :delete, class: "btn btn-sm btn-danger" %></td>
            <% end %>
          </tr>
        <% end %>
      </table>

      <div>
        <%= form_with model: [@article, @article_comment] do |f| %>
          <%= f.text_area :comment, rows:"5",cols:"50", placeholder: "" %></br>
          <%= f.submit "送信する" %>
          <% end %>
      </div>
    </div>

  </div>
</div>