<table class="table">

  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image, class:"rounded-circle", size: "50x50" %></td>
        <td><%= user.name %></td>
        <td>
          <% if current_user.following?(user) %>
            <%= link_to user_relationships_path(user.id), class: "btn btn-info btn-sm btn-block", method: :delete do %>
              <i class="fa-solid fa-user-check"></i>フォロー中
            <% end %>
          <% else %>
            <%= link_to user_relationships_path(user.id), class: "btn btn-info btn-sm btn-block", method: :post do %>
              <i class="fas fa-user-plus"></i>フォロー
            <% end %>
          <% end %>
        </td>
        <td><%= link_to "Show", user, class: "user_#{user.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>