<table class="table">
  <tr align="center">
    <th rowspan="4"><%= image_tag user.get_profile_image, class:"rounded-circle", size:"110x110" %></th>
  </tr>
  <tr>
	  <th style="font-size:25px"><%= user.name %></th>
	  <th><%= render "users/follow", user: user %></th>
	</tr>
	<tr>
	  <th style="border:none"><%= user.introduction %></th>
	</tr>
	<tr>
    <th style="border:none">
      <%= link_to user_followings_path(user), class: "text-dark" do %>
        <%= user.followings.count %> フォロー&ensp;
      <% end %>
      <%= link_to user_followers_path(user), class: "text-dark" do %>
        <%= user.followers.count %> フォロワー
      <% end %>
    </th>
  </tr>
</table>

