<h2>Articles search for "<%= @range %>"</h2>

<table class="col-lg-8 table table-border">
  <% if @range == "User" %>
    <% @users.each do |user| %>
      <tr>
        <th style="width:30%"></th>
        <th style="width:30%">name</th>
        <th style="width:30%">introduction</th>
      </tr>
      <tr>
        <td><%= image_tag user.get_profile_image, size: "50x50" %></td>
        <td><%= link_to "#{user.name}", user_path(user) %></td>
        <td><%= user.introduction %></td>
      </tr>
    <% end %>
  <% else %>
    <% @articles.each do |article| %>
      <tr>
        <th style="width:30%"></th>
        <th style="width:30%">title</th>
        <th style="width:30%">body</th>
      </tr>
      <tr>
        <td><%= image_tag article.user.get_profile_image, size: "50x50" %></td>
        <td><%= link_to "#{article.title}", article_path(article) %></td>
        <td><%= article.body %></td>
      </tr>
    <% end %>
  <% end %>
</table>